#jinja2: lstrip_blocks: True

loop_wait: {{ patroni_dcs_loop_wait |d(10, true) |int }}
ttl: {{ patroni_dcs_ttl |d(30, true) |int }}
retry_timeout: {{ patroni_dcs_retry_timeout |d(10, true) |int }}
maximum_lag_on_failover: {{ patroni_dcs_maximum_lag_on_failover |d(1048576, true) |int }}
maximum_lag_on_syncnode: {{ patroni_dcs_maximum_lag_on_syncnode |d(-1, true) |int }}
max_timelines_history: {{ patroni_dcs_max_timelines_history |d(0, true) |int }}
check_timeline: {{ patroni_dcs_check_timeline |d(false, true) |lower }}
primary_start_timeout: {{ patroni_dcs_primary_start_timeout |d(300, true) |int }}
primary_stop_timeout: {{ patroni_dcs_primary_stop_timeout |d(0, true) |int }}
synchronous_mode: {{ patroni_dcs_synchronous_mode |d(false, true) |lower }}
synchronous_mode_strict: {{ patroni_dcs_synchronous_mode_strict |d(false, true) |lower }}
synchronous_node_count: {{ patroni_dcs_synchronous_node_count |d(1, true) |int }}
failsafe_mode: {{ patroni_dcs_failsafe_mode |d(false, true) |bool }}
postgresql:
  use_pg_rewind: {{ patroni_dcs_postgresql_use_pg_rewind |string |d(true, true) |replace(None, true) |lower }}
  use_slots: {{ patroni_dcs_postgresql_use_slots |string |d(true, true) |replace(None, true) |lower }}
  {% if patroni_dcs_postgresql_recovery_conf |d([], true) |length > 0 %}
  recovery_conf:
    {% for item in patroni_dcs_postgresql_recovery_conf %}
    {{ item.option }}: {{ item.value }}
    {% endfor %}
  {% endif %}
  {% if patroni_dcs_postgresql_parameters |d([], true) |length > 0 %}
  parameters:
    {% for guc in patroni_dcs_postgresql_parameters %}
    {{ guc.option }}: {{ guc.value }}
    {% endfor %}
  {% endif %}
  {% if patroni_dcs_postgresql_pg_hba |d([], true) |length > 0 %}
  pg_hba:
    {% for client in patroni_dcs_postgresql_pg_hba %}
    - {{ client.type }} {{ client.database }} {{ client.user }} {{ client.address |d(None) }} {{ client.method }} {{ client.options |d(None) }}
    {% endfor %}
  {% endif %}
  {% if patroni_dcs_postgresql_pg_ident |d([], true) |length > 0 %}
  pg_ident:
    {% for map in patroni_dcs_postgresql_pg_ident %}
    - {{ map.mapname }} {{ map.sysuser }} {{ map.pguser }}
    {% endfor %}
  {% endif %}

{% if patroni_dcs_standby_cluster | map(attribute='value') |join() |trim |length > 0 %}
standby_cluster:
  {% for item in patroni_dcs_standby_cluster %}
  {{ item.option }}: {{ item.value }}
  {% endfor %}
{% endif %}
member_slots_ttl: {{ patroni_dcs_member_slots_ttl }}
{% if patroni_dcs_slots |d([], true) |length > 0 %}
slots:
  {% for slot in patroni_dcs_slots %}
  {{ slot.name }}:
    type: {{ slot.type }}
    {% if slot.type == 'logical' %}
    database: {{ slot.database }}
    plugin: {{ slot.plugin }}
    {% endif %}
  {% endfor %}
{% endif %}
{% if patroni_dcs_ignore_slots |d([], true) |length > 0 %}
ignore_slots:
  {% for slot in patroni_dcs_ignore_slots %}
  - name: {{ slot.name }}
    type: {{ slot.type }}
    {% if slot.type == 'logical' %}
    database: {{ slot.database }}
    plugin: {{ slot.plugin }}
    {% endif %}
  {% endfor %}
{% endif %}
